.txt-cont {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    background-color: rgba(128, 128, 128, 0.384);
    font-size: 30px;
}

cv-title {
    font-size: 30px;
    color: #BEC1D2;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lets-connect {
    font-size: 75px;
    width: 200px;
    height: auto;
    margin-left: 15%;
}

.highlight-cv {
    background-color: gray;
}