html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    // overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

.highlight {
    background-color: rgb(0, 0, 0);
    color: $blue;
}

a {
    text-decoration: none;
    color: white;
}

.black {
    color: black;
}

.blue-bg {
    background-color: #2F4D6F;
}

.overflow-check {
    height: 200px;
    width: 100%;
    background-color: red;
}

// ---------------------------------------

// ---------------------------------------
h2 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: #CCCFE0;

    &:hover {
        transition: 0.3s;
    }
}