@import "variables";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $black;
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

// Just for testing
.overflow-check {
    height: 200px;
    width: 100%;
    background-color: $red;
}

// ---------------------------------------

// ---------------------------------------
h1 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: $txt-white;
}

h2 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 35px;
    width: 100%;
    color: $txt-white;

    &:hover {
        transition: 0.3s;
        color: $blue;
    }
}