html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

.highlight {
    background-color: rgb(0, 0, 0);
    color: rgb(69, 109, 146);
}

a {
    text-decoration: none;
    color: white;
}

.black {
    color: black;
}

.blue-bg {
    background-color: #2F4D6F;
}


// ---------------------------------------
.top-bg {
    background-image: url(../images/BG2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.ship {
    height: auto;
    width: auto;
    margin-left: 49%;
    margin-right: 49%;
    margin-top: 3%;
}

.bg-txt {
    font-size: 35px;
    text-align: center;
    margin: auto;
    height: 20px;
    width: 75%;
    padding-top: 20px;
    color: #BEC1D2;
}

// ---------------------------------------BG MOBILE VIEW
@media only screen and (max-width: 769px) {
    .top-bg {
        background-image: url(../images/BG.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .ship {
        display: none;
    }
}


// ---------------------------------------
.nav {
    width: 100%;
    height: 25px;
    margin-top: 10%;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-txt {
    font-size: 25px;
    font-family: 'Josefin Sans', serif;
    border-bottom: 1px solid black;

    &:hover {
        transition: 0.8s;
        border-bottom: 1px solid white;
    }
}

// ---------------------------------------PROJECTS MOBILE VIEW
@media only screen and (max-width: 769px) {
    .nav {
        margin-top: 500px;
    }
}

// ---------------------------------------
.accent-bar {
    height: 25px;
    width: 100%;
    background-color: #2F4D6F;
}


// ---------------------------------------
h2 {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    font-size: 35px;
    padding-top: 1%;
    width: 30%;
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 0px;
    padding-bottom: 20px;
    color: #CCCFE0;

    &:hover {
        transition: 0.8s;
    }
}

.about-cont {
    // background-color: #2F4D6F;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 5%;
    padding-bottom: 20px;
    height: 300px;
    width: 100%;
    color: #CCCFE0;
    background-color: #2F4D6F;

}

.about {
    height: 80%;
    width: 30%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.about-img {
    background-image: url(../images/moon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    // border: 1px solid rgba(255, 255, 255, 0.473);
}

.about-txt {
    height: auto;
    max-width: 60%;
    text-align: left;
    font-size: 25px;
    // background-color: #2F4D6F;
}

// ---------------------------------------ABOUT MOBILE VIEW
@media only screen and (max-width: 769px) {
    .about {
        height: auto;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .about-txt {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

// ---------------------------------------
.project-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 600px;
    width: 100%;
    padding-bottom: 2%;
    color: rgb(164, 166, 173);
    // background-image: url(../images/rocket.jpg);
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
}

.project {
    height: auto;
    width: 30%;
    margin: 20px 5px 20px 5px;
    padding-bottom: 15%;
}

.project-img {
    width: 100%;
    height: 75%;
    margin: 5px;
    border: 1px solid#2F4D6F;

    &:hover {
        transition: 0.8s;
        background-color: rgb(69, 109, 146);
    }
}

.project-descr {
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;

    &:hover {
        transition: 0.8s;
        color: black;
        background-color: rgba(155, 139, 139, 0.767);
    }
}

// ---------------------------------------PROJECTS MOBILE VIEW
@media only screen and (max-width: 769px) {
    .project-cont {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        height: 1900px;
        width: 100%;
    }

    .project {
        height: 500px;
        width: 95%;
    }
}

// ---------------------------------------
.footer-bar {
    height: 50px;
    width: 100%;
    background-color: #2F4D6F;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.footer-items {
    height: 100%;
    min-width: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    color: #BEC1D2;

    &:hover {
        transition: 0.5s;
        color: white;
    }
}

// ---------------------------------------FOOTER MOBILE VIEW
@media only screen and (max-width: 769px) {
    .footer-bar {
        padding-top: 10%;
    }
}

// ---------------------------------------