.black {
  color: #000033;
}

.blue-bg {
  background-color: #456d92;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000033;
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #CCCFE0;
}

.overflow-check {
  height: 200px;
  width: 100%;
  background-color: red;
}

h1 {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 3em;
  width: 100%;
  color: #CCCFE0;
}

h2 {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 3em;
  width: 100%;
  color: #CCCFE0;
}

/* h2:hover {
  transition: 0.3s;
  color: #456d92;
} */

.txt-cont {
  height: 60%;
  width: auto;
  padding-left: 20vw;
  padding-right: 20vw;
  padding-bottom: 5vh;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #CCCFE0;
}

.txt-img {
  height: 60%;
  width: 55vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5%;
  background-color: rgba(170, 165, 165, 0.384);
}

cv-title {
  width: 100%;
  font-size: 30px;
  color: #BEC1D2;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lets-connect {
  font-size: 75px;
  width: 300px;
  height: auto;
  margin-left: 20vw;
  padding-bottom: 3vh;
}

.highlight-cv {
  color: white;
  background-color: #2F4D6F;
}

@media only screen and (max-width: 768px) {
  a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1920px) {
  a {
    font-size: 25px;
  }
}

@media only screen and (min-width: 2400px) {
  a {
    font-size: 40px;
  }
}

.top-bg {
  background-image: url(../images/BG2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.ship {
  max-height: 45%;
  max-width: 45%;
  margin-left: 49vw;
  margin-top: 10vh;
}

.bg-txt {
  font-size: 2em;
  text-align: center;
  margin: auto;
  height: 20px;
  width: 75%;
  padding-top: 20px;
  color: #CCCFE0;
}

.highlight {
  color: #456d92;
}

@media only screen and (min-width: 1920px) {
  .bg-txt {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 2400px) {
  .bg-txt {
    font-size: 3em;
    margin-bottom: 30px;
  }
}

.nav {
  width: 100%;
  height: 15vh;
  margin-top: 25vh;
  color: #CCCFE0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: absolute;
}

.nav-txt {
  font-size: 2em;
  font-family: "Josefin Sans", serif;
}

.nav-txt:hover {
  transition: 0.3s;
  color: #456d92;
}

@media only screen and (max-width: 767px) {
  .nav-txt {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1920px) {
  .nav-txt {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 2400px) {
  .nav-txt {
    font-size: 3em;
  }
}

.about-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 5vh;
  padding-bottom: 10vh;
  height: auto;
  width: 100%;
  color: #CCCFE0;
  background-color: #456d92;
}

.about {
  height: 80%;
  width: 30%;
}

.about-img {
  background-image: url(../images/aboutme.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: 25vw;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.about-txt {
  text-align: center;
  height: auto;
  width: 40%;
  font-size: 1.8em;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  /* margin-top: 100px; */
}

.about-highlight {
  color: #192d3f;
}

@media only screen and (max-width: 768px) {
  .about-img {
    display: none;
  }

  .about-txt {
    width: 80%;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1920px) {
  h2 {
    font-size: 50px;
  }

  .about-txt {
    font-size: 2em;
  }
}

@media only screen and (min-width: 2400px) {
  h2 {
    font-size: 60px;
  }

  .about-txt {
    font-size: 2.5em;
  }
}

.project-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 90%;
  color: #a4a6ad;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5vh;
}

.project {
  width: 80%;
  margin: 10px;
}

.project-img {
  background-image: url(../images/RPG.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
  border: 1px solid #456d92;
  margin-bottom: 2%;
}

.project-descr {
  width: 100%;
  height: auto;
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
}

/* .project-descr:hover {
  transition: 0.3s;
  color: white;
} */

@media only screen and (max-width: 768px) {
  .project-cont {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .project {
    width: 100%;
    margin: 0px;
  }

  .project-img {
    width: 100%;
    margin: 0px;
  }

  .project-descr {
    width: 100%;
    margin: 0px;
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1920px) {
  .project-descr {
    font-size: 2em;
  }
}

@media only screen and (min-width: 2400px) {
  .project-descr {
    font-size: 2.5em;
  }
}

.footer-bar {
  height: 5vh;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #456d92;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-items {
  height: 100%;
  min-width: 30px;
  margin-top: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  color: #BEC1D2;
}

.footer-items:hover {
  transition: 0.3s;
  color: white;
}

@media only screen and (max-width: 768px) {
  .footer-bar {
    height: 5vh;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-items {
    margin-top: 1vh;
    height: 3vh;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-bar {
    height: 5vh;
  }

  .footer-items {
    margin-top: 10px;
    width: 35px;
    height: 35px;
  }
}

@media only screen and (min-width: 2400px) {
  .footer-bar {
    height: 5vh;
  }

  .footer-items {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }
}

.container {
  width: 100%;
  background-color: #CCCFE0;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #CCCFE0;
}

.html {
  width: 90%;
  background-color: rgb(101, 226, 105);
}

.css {
  width: 85%;
  background-color: rgb(59, 123, 175);
}

.sass {
  width: 80%;
  background-color: #c540d6;
}

.js {
  width: 65%;
  background-color: #f44336;
}


/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.five {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.six {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.seven {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.eight {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

/*==== FADE IN UP ===*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*=== FADE IN  ===*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*=== FADE IN UP Big ===*/
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.black {
  color: #CCCFE0;
}

.blue-bg {
  background-color: #456d92;
}

/*# sourceMappingURL=main.css.map */