body {
  background-color: #37393F;
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
}

.highlight {
  background-color: #575b79;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  background-color: #4A4F6B;
  height: 35px;
  width: 100%;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
}

.nav-item {
  color: #C3C5D5;
  margin: 5px 50px 0px 20px;
  padding-bottom: 5px;
}

.top-bg {
  background-image: url(../images/BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.bg-txt {
  font-size: 35px;
  text-align: center;
  margin: auto;
  max-height: 75%;
  max-width: 75%;
  padding-top: 28%;
  color: #BEC1D2;
}

.accent-bar {
  height: 25px;
  width: 100%;
  background-color: #4A4F6B;
}

h2 {
  font-family: "Josefin Slab", serif;
  text-align: center;
  font-size: 35px;
  padding: 10px 0px 10px 0px;
  margin: 0px;
  color: #CCCFE0;
}

.about {
  height: auto;
  width: 100%;
  background-color: #797FA1;
}

.about-txt {
  height: auto;
  max-width: 90%;
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  font-size: 25px;
}

.project-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 600px;
  width: 100%;
  background-color: #37393F;
}

.project {
  height: 500px;
  width: 33%;
  margin: 40px 5px 20px 5px;
}

.project-img {
  width: 100%;
  height: 75%;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.219);
}
.project-img:hover {
  background-color: rgba(255, 255, 255, 0.603);
}

.project-descr {
  width: 100%;
  height: auto;
  margin: 5px;
  padding: 5px 0px 5px 0px;
  background-color: rgba(255, 255, 255, 0.568);
  font-size: 25px;
}

.footer-bar {
  height: 50px;
  width: 100%;
  background-color: #4A4F6B;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer-content {
  margin-left: 40%;
  margin-right: 40%;
  max-width: 80%;
}

.footer-items {
  height: 60%;
  width: 30px;
  padding-top: 10px;
  padding-right: 30px;
  color: #BEC1D2;
}

/*=== Trigger  ===*/
.animate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*=== Optional Delays, change values here  ===*/
.one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.three {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.four {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.five {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.six {
  -webkit-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.seven {
  -webkit-animation-delay: 6.5s;
  -moz-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

.eight {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

/*=== FADE IN DOWN ===*/
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*# sourceMappingURL=main.css.map */
